*{
    margin: 0;
    padding: 0;
    font-family: font;
}

@font-face {
  font-family: font ;
  src: url(../recursos/nostalgia.otf);
}
/*****CABECERA****/
nav{
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  width: 100%;
  height: 100px;
}
nav a{ 
  text-decoration:none ;
  font-size: 16px;
  color: black;
}

nav img{
  margin-top: 2%;
  margin-left: 5%;
  height: 50px;
}

/******VIDEO CON LOGO*******/
.container-main {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}
.container-main video {
  display: block;
  width: 100%;
  max-height: 760px;
  overflow: hidden;
  filter: grayscale(1);
  opacity: 0.8;
}
.container-main svg {
  position: absolute;
  width: 50%;
  object-fit: cover;
}
/******SLIDESHOW********/
section{
  margin-top:6em ;
  padding: 2em;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr ;
  column-gap: 20px;
}
section canvas{
  border-radius: 2%;
  border: 2px solid black;
  width: 100%;
  object-fit: cover;
}
section div{
  display:grid;
  place-items: center;
  row-gap: 20px;
}
/*****BOTON********/
button {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: black;
  color: white;
  border-radius: 4px;
 }
 
 button:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
 }
 
 button:active {
  transform: translate(0em, 0.2em);
 }





